.footer-address {
  float: right;
  padding-right: 20px;
}

.textbox {
  background-color: white;
  height: 80%;
  border-style: solid;
  border-color: rgb(204, 116, 33);
  margin: 0 auto;
  font-family: "Calibri";
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.get_involved_text {
  text-align: center;
  font-family: "Calibri";
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
}

.Website {
  text-align: center;
  /* padding-top: 7px; */
}

.footer-address {
  text-align: center;
  /* padding-right: 25px; */
  display: table-cell;
}
.Location {
  height: 40px;
}

.Email {
  height: 40px;
}

.Phone {
  height: 40px;
  padding-top: 7px;
}

.row_of_info {
  display: table;
}
