.App {
  text-align: center;
}

.App-header {
  text-align: center;
}

.search {
  padding-bottom: 40px;
  text-align: center;
  font-family: "Calibri";
}

.poorlynamedvariable {
  text-align: center;
}

.App-logo {
  height: 120px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.Background {
  background-color: white;
  height: 100%;
  border-style: solid;
  border-color: rgb(204, 116, 33);
  width: 400px;
  margin: 0 auto;
}

.Header {
  text-align: center;
  color: orangered;
  font-size: 20px;
}

#border {
  font-size: 40px;
}

#bborder {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(204, 116, 33);
  font-size: 16px;
  font-family: "Calibri";
}

#but {
  height: 50px;
  width: 100px;
  border-style: none;
  color: rgb(204, 116, 33);
  background-color: whitesmoke;
  border-style: solid;
  border-color: rgb(204, 116, 33);
  border-width: 1.3px;
  font-size: 20px;
  text-align: center;
  font-family: "Calibri";
}

.Footer {
  padding-top: 50px;
  background-color: lightblue;
  height: 100%;
}

.bigdiv {
  padding-block-end: 55px;
}

.searchbars {
  display: inline-block;
}

/* making it work */
html,
body {
  height: 100%;
  margin: 0;
  background: lightblue;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

.senate{
  padding-bottom: 200px
}

.house{
  padding-top: 200px;
}