.textbox {
  background-color: white;
  height: 80%;
  border-style: solid;
  border-color: rgb(204, 116, 33);
  width: 85%;
  margin: 0 auto;
  font-family: "Calibri";
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* the blue space separating text boxes */
.spacer {
  padding-top: 40px;
  background-color: lightblue;
}

/* text formatting */

.officeText {
  font-family: "Calibri";
  font-size: 24px;
  font-style: bold;
}
.nameText {
  font-family: "Calibri";
  font-size: 32px;
  font-style: "bold";
}

/* making political affiliations have color */
.gray {
  font-family: "Calibri";
  font-size: 16px;
  font-style: italic;
}
.blue {
  font-family: "Calibri";
  font-size: 16px;
  font-style: italic;
}
.red {
  font-family: "Calibri";
  font-size: 16px;
  font-style: italic;
}
.green {
  font-family: "Calibri";
  font-size: 16px;
  font-style: italic;
}

.websiteText {
  font-family: "Calibri";
  font-size: 16px;
}
.emailText {
  font-family: "Calibri";
  font-size: 16px;
}
.facebookText {
  font-family: "Calibri";
  font-size: 16px;
}
.twitterText {
  font-family: "Calibri";
  font-size: 16px;
}
